.titleCard {
    text-align: center;
    margin: 0;
}

.cards {
    padding: 1rem 2rem;
    background-color: var(--card-bgc);
}

.imageCards {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--card-secondary);
}

.imageCards img {
    width: 100%;
    max-width: 540px;
}