.bottomNavContainer {
    display: flex;
    justify-content: center;
    margin: 5vh 0;
    flex-wrap: wrap;
    gap: 1rem;

    @media (max-width: 480px) {
        flex-direction: column;
        align-items: center;
    }
}