.mainContainer {
    display: flex;
    justify-content: center;
}

.menuItem {
    height: 3rem;
    margin-top: 1rem;
}

.listItem{
    margin: 1rem 0;
    border-radius: 10px;
    text-align: center;
}